body {
    background-color: black;
    color: white;
    font-family: Arial;
    margin: 10px;
}

.wd-search-panel{
    /*clear: both;*/
    display: flex;
    height: 40px;
    margin: 10px;
}

.wd-search-icon{
    position: absolute;
    left: 34px;
    z-index: 2;
    font-size: 1.5em;
    padding: 5px;
}

.wd-search-bar{
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}



.wd-search-bar > input::placeholder {
    color: lightgray;
}

.wd-explore-settings{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 10%;
    font-size: 2em;
    color: rgb(29, 161, 242);
    text-decoration: none;
}

/*.wd-search-bar > input {*/
/*    background: #5A5A5A;*/
/*    width: 100%;*/
/*    color: white;*/
/*    size: 12px;*/
/*    padding-left: 12px;*/
/*    border-radius: 5px;*/
/*}*/

.wd-search-bar > input {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-color: #303335;
    padding-left: 50px;
    margin-right: 12px;
    border: 0;
    font-size: 18px;
}

.wd-nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 8px;
    font-weight: bold;
    color: rgb(110, 118, 125);
}

.wd-nav-tab{
    margin: 0;
    padding: 0;
    height: 30px;
}
.wd-selected-tab{
    color: rgb(29, 161, 242);
    border-bottom: 4px solid rgb(29, 161, 242);
}

/*.wd-post{*/
/*    border: 1px solid #303335;*/
/*}*/

.wd-trending-category{
    /*color: lightgray;*/
    color: rgb(110, 118, 125);
    font-size: 0.8em;
    padding: 2px;

}

.wd-tweet-count{
    color: lightgray;
    font-size: 0.8em;
    padding: 2px;
    color: rgb(110, 118, 125);
}

.wd-margin-1{
    margin: 1%;
}
.wd-trending{
    /*color: rgb(110, 118, 125);*/
    border: 1px solid #303335;
}

.wd-title{
    font-size: 16px;
    font-weight: 600;
}

.wd-trending-first{
    display: flex;
    justify-content: space-between;
}

.wd-trending-more {
    font-size: 20px;
    font-weight: bold;
    line-height: 10px;
}

.wd-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #303335;
}

.wd-post-author {
    display: flex;
    font-size: 13px;
    margin-bottom: 8px;
    align-items: center;
}

.wd-post-gray {
    color: rgb(110, 118, 125);
}

.wd-post-topic {
    font-size: 16px;
    font-weight: 600;
}

.wd-post-image {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.wd-post-icon {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 5px;
    margin: 0 3px;
}